.dashboard {
	margin-top: 50px;
	display: flex;
	flex-direction: column;

	.dashboard__title {
		color: #000;
		font-size: 34px;
		font-weight: 500;
		line-height: 117%;
	}

	.dashboard__list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px 24px;
		margin-top: 40px;

		.list__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: calc(25% - 18px);
			transition: all 0.3s ease-in-out;

			&:hover {
				transform: translateY(-6px);

				.item__img {
					background: #f0f0f0;
					box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
				}
			}

			.item__img {
				cursor: pointer;
				width: 100%;
				padding: 15px;
				border-radius: 44px;
				border: 1px solid #e7eaf0;
				margin-bottom: 16px;
				background: #ffffff;
				transition: all 0.3s ease-in-out;
			}

			.item__name {
				color: #000;
				text-align: center;

				font-size: 24px;

				font-weight: 500;
				line-height: 26px;
			}

			@media (max-width: 1024px) {
				width: calc(33.3% - 16px);
			}
			@media (max-width: 768px) {
				width: calc(50% - 12px);
			}
			@media (max-width: 476px) {
				width: 100%;
			}
		}
	}

	.dashboard__links {
		display: flex;
		justify-content: center;
		gap: 24px;
		margin: 64px 0;

		.links__btn {
			border: none;
			padding: 16px 24px;
			border-radius: 12px;
			background: #ea3c3c;
			box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.1);
			cursor: pointer;
			color: #fff;
			transition: background 0.3s;

			font-size: 21px;
			font-weight: 700;

			&:hover {
				background: #f35b5b;
			}
		}
	}
}
// <div id="1" data-name="4 сезона" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/1.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="2" data-name="Bon appetit" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/2.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="3" data-name="Баварская" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/3.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="4" data-name="Деревенская" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/4.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="5" data-name="Карбонара" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/5.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="6" data-name="Курочка терияки" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/6.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="7" data-name="Мясная" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/7.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="8" data-name="Флоренция" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/8.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="9" data-name="Все Готово" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/9.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="10" data-name="Грибная" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/10.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="11" data-name="Чеддер" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/11.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="12" data-name="Пепперони" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/12.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="13" data-name="Гавайская" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/13.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="14" data-name="Маргарита" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/14.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="15" data-name="С ВЕТЧИНОЙ И ГРИБАМИ" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/15.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="16" data-name="СЫТНАЯ" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/16.png"
// 								alt="pizza"
// 							/>
// 						</div>
// 						<div id="17" data-name="МЕКСИКАНСКАЯ" class="swiper-slide">
// 							<img
// 								width="580"
// 								height="580"
// 								src="/img/pizza/17.png"
// 								alt="pizza"
// 							/>
// 						</div>
